<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<link href="css/messages.css" rel="stylesheet">

<ion-view class="messaging-view">

<ion-content class="content-stable"
             on-swipe-left="hideTime = false"
             on-swipe-right="hideTime = true">
  <ion-spinner ng-show="gettingData" icon="ios"></ion-spinner>
  <i class="icon ion-refresh refreshIcon" ng-click="refresh()" ng-show="refreshShow"></i>
  <div ng-repeat="message in messages"
       ng-class="{other: message['user_id'] != myId}"
       class="messages" ng-show="message['user_id'].length>0" >


    <img style="width:50px; height:50px;" ng-show="message['user_id'] == myId" ng-src="{{message['user_picture']}}"/>

    <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
      <span class="spanMessage">{{ message.text }}<br ng-show="message['image'] != null && message['text'] != null" />
        <img ng-show="message['image'] != null" ng-src="data:image/jpeg;base64,{{message.image}}" ng-click="showImage(message.image)" width="120px" />
      </span>

    </div>

    <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}"><!--{{message.time}}--></div>

    <img style="width:50px; height:50px; background:white;" ng-show="message['user_id'] != myId" ng-src="{{message['user_picture']}}"/>

  </div>


</ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
  <button class="button button-icon icon ion-camera" ng-click="showPopup()"></button>
  <label class="item-input-wrapper">
    <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
  </label>
  <a class="button button-clear" ng-click="sendMessage()">
    Send
  </a>
</ion-footer-bar>
</ion-view>