<meta charset="UTF-8">
<ion-view title="Прилагодувања">
    <ion-content>
        <ion-spinner ng-show="gettingData" icon="ios"></ion-spinner>
        <div class="list">
           <label class="item item-input"> <span class="input-label">Име</span> <input type="text" ng-model="data.fn"/> </label>
           <label class="item item-input"> <span class="input-label">Презиме</span> <input type="text" ng-model="data.ln"/> </label>
           <label class="item item-input"> <span class="input-label">Email</span> <input type="text" ng-model="data.em"/> </label>
           <label class="item item-input"> <span class="input-label">Password</span> <input type="password" ng-model="data.pwd"/></label>
        </div>
        <span class="label" style="color:red; margin-left:15px; margin-top:-10px">{{errormessage}}&nbsp;</span>
        <button class="button button-block button-calm" ng-click="registerUser(data.fn, data.ln, data.em, data.pwd)">Регистрирај се</button>
    </ion-content>
</ion-view>