<meta charset="utf-8">
<ion-view title="Прашања">
<ion-content>
        <div ng-show="showSchoolPrograms">
            <h4 class="row">Изберете јазик на наставен план</h4>
            <ion-list>
                <ion-item ng-repeat="program in schoolPrograms" type="item-text-wrap" ng-click="choosenLanguage(program.$id)">
                    <label>{{program.language}}</label>
                </ion-item>
            </ion-list>
        </div>
        <div ng-show="showTypesEducation">
            <h4 class="row">Изберете тип на образование</h4>
            <ion-list>
                <ion-item ng-repeat="type in typesOfEducation" type="item-text-wrap" ng-click="choosenTypeOfEducation(type.$id)">
                    <label>{{type.name}}</label>
                </ion-item>
            </ion-list>
        </div>
        <div ng-show="showYearsOfStudy">
            <h4 class="row">Изберете одделение/година</h4>
            <ion-list>
                <ion-item ng-repeat="year in yearsOfStudy" type="item-text-wrap" ng-click="choosenYearOfStudy(year.$id)">
                    <label>{{year.name}}</label>
                </ion-item>
            </ion-list>
        </div>
        <div ng-show="showEducationPlans">
            <h4 class="row">Изберете наставен план</h4>
            <ion-list>
                <ion-item ng-repeat="plan in educationPlans" type="item-text-wrap" ng-click="choosenEducationPlan(plan.$id)">
                    <label>{{plan.name}}</label>
                </ion-item>
            </ion-list>
        </div>
        <div ng-show="showSubjects">
            <h4 class="row">Изберете предмети</h4>
            <ion-list>
                <ion-item ng-repeat="subject in subjects" type="item-text-wrap">
                    <ion-checkbox ng-model="selected[subject.$id]">{{subject.name}}</ion-checkbox>
                </ion-item>
            </ion-list>
        </div>
        <div ng-show="showSelectedSubjects">
            <h4 class="row">Изберете предмет за приказ на прашања</h4>
            <ion-list>
                <!--<ion-item ng-repeat="subject in selectedSubjects" type="item-text-wrap" ng-click="showSelectedSubject(subject.$id)">-->
                <ion-item ng-repeat="subject in selectedSubjects" type="item-text-wrap" ng-click="showSelectedSubject(subject.$id)">
                    <ion-radio>{{subject.name}}</ion-radio>
                </ion-item>
            </ion-list>

        </div>




        <div ng-show="showQuestions">

            <div>
                <label>{{question.text}}</label>
            </div>
            <img src="{{question['picture-url']}}" ng-show="question['picture-url'].length>0"/>
            </div>
        </div>


    </ion-content>
    <ion-footer-bar style="margin:0; padding:0;">

        <div class="button-bar" ng-show="showSubjects" >
            <button class="button button-block button-positive"  ng-click="showSelected()" ng-show="showSubjects" style="margin-top:0px !important">
                Зачувај
            </button>
        </div>

        <div class="button-bar" ng-show="showSelectedSubjects" style="...">
            <a class="button button-block button-positive"  href="#/tab/dash/{{choise}}" style="margin-top:0px !important">
                Прикажи прашања
            </a>
        </div>

        <div class="button-bar" ng-show="showQuestions" style="margin:0; padding:0;">
            <button class="button icon-left ion-ios-arrow-left" ng-click="prevQuestion()">Претходно</button>
            <button class="button icon-left ion-ios-chatboxes" ng-click="joinChatRoom()">Соба за разовор</button>
            <button class="button icon-right ion-ios-arrow-right" ng-click="nextQuestion()">Следно</button>
        </div>
    </ion-footer-bar>

</ion-view>
