<meta charset="utf-8">
<ion-view title="Прашања">

    <ion-content>
        <ion-spinner ng-show="gettingData" icon="ios"></ion-spinner>
        <i class="icon ion-refresh refreshIcon" ng-click="refresh()" ng-show="refreshShow"></i>
        <div>
                <h4 class="row">Изберете предмети</h4>
                <ion-list>
                    <ion-item ng-repeat="subject in subjects" type="item-text-wrap">
                        <ion-checkbox class="checkbox-calm" ng-model="selected[subject.$id]">{{subject.name}}</ion-checkbox>
                    </ion-item>
                </ion-list>
        </div>
    </ion-content>
        <!--<button class="button button-block button-positive"  ng-click="showSelected()" style="width:100%; position: absolute;-->
                <!--bottom: 0px;">-->
            <!--Зачувај-->
        <!--</button>-->
        <ion-footer-bar class="bar-calm" ng-click="showSelected()">
            <h5 style="color:white; margin:auto;">Зачувај</h5>
        </ion-footer-bar>
</ion-view>