<meta charset="utf-8">
<ion-view title="Прашања">
    <ion-content>
        <ion-spinner ng-show="gettingData" icon="ios"></ion-spinner>
        <div>
            <h4 class="row">Изберете тип на образование</h4>
            <ion-list>
                <ion-item ng-repeat="type in typesOfEducation" type="item-text-wrap" ng-click="choosenTypeOfEducation(type.$id)">
                    <label>{{type.name}}</label>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>