<meta charset="utf-8">
<ion-view title="Разговори">
    <ion-content>
        <ion-spinner ng-show="data.gettingData" icon="ios"></ion-spinner>
        <i class="icon ion-refresh refreshIcon" ng-click="refresh()" ng-show="data.refreshShow"></i>
        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="question in questions" >
                <div style="margin-right:-50px; margin-left:-15px; display : flex; align-items : center; " type="item-text-wrap">
                    <i style="width:10%" class="button-icon icon ion-ios-trash" ng-click="removeQuestion(question.id)"></i>
                    <a href="#/tab/chats/{{question.id}}" style="text-decoration: none; color:gray; width:90%; display : flex; align-items : center; ">
                        <p style="width:85%; font-size:15px;" >{{question["text"]}}</p>
                        <i class="icon ion-chevron-right icon-accessory" style="float:right; width:10%;"></i>
                    </a>
                </div>
                <!--<div class="item-icon-right"  type="item-text-wrap">-->
                <!--<p style="max-width: 400px;">{{question["text"]}}</p>-->
                <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                <!--</div>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
