<meta charset="utf-8">
<ion-view title="Прашања">
    <ion-content>
        <ion-spinner ng-show="data.gettingData" icon="ios"></ion-spinner>
        <i class="icon ion-refresh refreshIcon" ng-click="refresh()" ng-show="refreshShow"></i>
        <div>
            <h4 class="row">Изберете предмет за приказ на прашања</h4>
            <ion-list>
                <ion-item ng-repeat="subject in selectedSubjects" type="item-text-wrap" ng-click="showSelectedSubject(subject.$id)">
                    <ion-radio>{{subject.name}}</ion-radio>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-calm" href="#/tab/dash/{{choise}}" ng-click="openQuestions(choise)" >
       <h5 style="color:white; margin:auto; width:200px; text-align: center;">Прикажи прашања</h5>
    </ion-footer-bar>
</ion-view>
</ion-view>