<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<meta charset="utf-8">
<ion-tabs class="tabs-icon-top">
  <!-- My Tab -->
  <ion-tab title="Прашања" icon="icon ion-ios-book" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <!-- Friends Tab -->
  <ion-tab title="Разговори" icon="icon ion-log-out" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <!-- Account -->
  <ion-tab title="Прилагодувања" icon="icon ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
