/* Empty. Add your own CSS if you like */

.scroll{
    height:100%;
}

.spinner svg {
    width: 28px;
    height: 28px;
}

.spinner{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
}

.overflow-arrow{
    font-size: 50px !important;
    margin:10px;
    top:42%;
    position:relative;
    opacity:0.6;
}

.refreshIcon{
	position:absolute; 
	left:44%;
	top:42%; 
	font-size: 60px !important;
	color:#43cee6 !important;
	-webkit-tap-highlight-color: gray !important;
}
.refreshIcon.active{
	color:gray !important;
}

.refreshIcon:hover{
	color:gray !important;
}

.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #11c1f3;
    opacity: 1;
}
